header {
  height: 20%;
  background-color: orange;
}

header img {
  height: inherit;
}

h1 {
  display: inline;
}

.header-nav {
  background-color: lightgreen;
  float: right;
}

.header-nav li a {
  text-decoration: black;
  color: black;
  font-weight: bold;
}

 .header-nav li {
   display: inline;
   padding: 5px;
}

aside {
  float: left;
  height: 80%;
  padding: 50px;
  border: black solid 3px;
  width: 20%;
  display: inline;
}

.push {
  height: 50px;
  clear: both;
}

.results {
  height: 50%;
}

.survey {
  float: right;
  width: 60%;
}

.survey label {
  display: inline;
  height: inherit;
}

.survey input {
  display: none;
}

.survey label:focus {
  border: black solid 2px;
}


#submitbutton {
  display: block;
  align-self: center;
}

.survey img {
  width: 30%;
  margin: 1.5%;
}

section {
  width: 60%;
  float: right;
}

.barchart {
  display: block;
}

.piechart {
  display: block;
}
footer {
  position: absolute;
  top: inherit;
  height: 20%;
  display: block;
}
