header {
  height: 100px;
  background-color: orange;
}

h1 {
  display: inline;

}

nav {
  border: dotted blue;
  float: right;

}
 .header-nav li {
   display: inline;
   padding: 5px;
}

aside {
  float: left;
  height: 500px;
  padding: 50px;
  border: black solid 3px;
  width: 20%;
  display: inline;
}

.push {
  height: 50px;
  clear: both;
}

.results {
  height: 50%;
}

.survey {
  float: right;
  width: 60%;
}

section {
  width: 60%;
  float: right;
}

.barchart {
  display: block;
}

.piechart {
  display: block;
}
footer {
  display: block;
}
